<div class="container">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="painel-usuario">Cadastro de Perfil</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Cadastro</h5>
      <form [formGroup]="usuarioForm" class="needs-validation" novalidate>
          <div class="col-sm-6">
            <label for="Name" class="form-label">Nome Completo:</label>
            <input type="text" class="form-control" id="Name" placeholder="" value="" formControlName="name">
            <div class="invalid-feedback">
              Por favor insira um nome válido.
            </div>
          </div>
          <div class="col-sm-4">
            <label for="date" class="form-label">Data de Nascimento:</label>
            <input type="date" class="form-control" id="date" formControlName="birthday">
          </div>
          <div class="col-sm-4"><br>
            <label for="gender" class="form-label">Gênero</label>
            <select class="form-select custom-select" formControlName="genderId" >
              <option value="" disabled>Selecione</option>
              <option  *ngFor="let genero of generos" [ngValue]="genero.id"> {{genero.descricao}} </option>
              <option> Mulher Cis</option>
              <option> Mulher Transgênero</option>
              <option> Não Binário</option>
            </select>
            <div class="invalid-feedback">
              Por favor escolha uma opção válida.
            </div>
          </div>
          <div class="col-sm-6">
            <label for="username" class="form-label">Digite seu E-mail:</label>
            <div class="input-group">
              <span class="input-group-text">@</span>
              <input type="text" class="form-control" id="username" placeholder="seunome@empresa.com.br" formControlName="email">
              <div class="invalid-feedback">
                Digite um e-mail válido.
              </div>
            </div>
          </div>
        <div class="col-sm-6">
          <label for="password" class="form-label">Digite sua senha:</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
        </div>
    
        <div class="form-group">
          <label for="exampleFormControlFile1"></label>
          <h5>Envie sua foto</h5>
          <input type="file" class="form-control-file" id="exampleFormControlFile1" formControlName="photo">
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="save-info">
          <label class="form-check-label" for="save-info">Guarde essas informações para a próxima vez.</label>
        </div>
        <hr class="my-4">
      </form>

      <button type="submit" class="btn btn-primary float-right" (click)="onSubmit()">Salvar</button>
      <button type="button" href="#" class="btn btn-danger float-right">Cancelar</button>
    </div>
  </div>

</div>
