<div class="container">
  <div class="py-5 text-center">
    <h2>Tela de Cadastro</h2>
    <p class="lead">Informações do Perfil de Usuário</p>
  </div>

  <h4 class="mb-3">Endereço</h4>
  <form class="needs-validation" novalidate>
    <div class="row g-3">
      <div class="col-sm-6">
        <label for="firstName" class="form-label">Primeiro Nome:</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
        <div class="invalid-feedback">
          Por favor insira um nome válido.
        </div>
      </div>

      <div class="col-sm-6">
        <label for="lastName" class="form-label">Último Nome:</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
        <div class="invalid-feedback">
          Por favor insira um Sobrenome válido.
        </div>
      </div>

      <div class="col-12">
        <label for="username" class="form-label">Digite seu E-mail:</label>
        <div class="input-group">
          <span class="input-group-text">@</span>
          <input type="text" class="form-control" id="username" placeholder="seunome@empresa.com.br" required>
          <div class="invalid-feedback">
            Digite um e-mail válido.
          </div>
        </div>
      </div>

   </div>

    <hr class="my-4">

    <button class="btn btn-primary btn-lg float-right" type="submit">Salvar</button>
    <button class="btn btn-danger btn-lg float-right" type="submit">Fechar</button>
  </form>
</div>
