.header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navigation {
  background-color: #e46c0a;
  font-family: Montserrat;
  font-weight: 600;
}

header .logo {
  color:rgb(219, 219, 219);
  margin-left: 5px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 25px;
  padding-right: 15px;
}

header nav a {
  text-decoration: none;
  color: #d6d6d6;
  margin-right: 10px;
}

header nav a:hover {
  color: rgb(97, 44, 13);
}


