<div>
  <div class="container">
    <div class="col-md-12">
        <div class="profile clearfix">
            <div class="image">
                <img src="https://clickartweb.com.br/images/noticias/html5-sublime-clickart.jpg" class="img-cover">
            </div>
            <div class="user clearfix">
                <div class="avatar">
                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGK4ZdRCVKiIA/profile-displayphoto-shrink_800_800/0/1590532068539?e=1619049600&v=beta&t=6VJDQaYzZdhd38XBRhbXXVKCr5jnZha6Di0KPDwv9UE" class="img-thumbnail img-profile">
                </div>
                <h2>Gislaine Nunes</h2>
                <div class="actions">
                    <div class="btn-group">
                        <button class="btn btn-primary" title="" data-original-title="Add to friends"><span class="glyphicon glyphicon-plus glyphicon glyphicon-white"></span> Amigos</button>
                        <button class="btn btn-primary" title="" data-original-title="Send message"><span class="glyphicon glyphicon-envelope glyphicon glyphicon-white"></span> Postar</button>
                    </div>
                </div>
            </div>
            <div class="info">
                <p><span class=""></span> <span class="title">Gênero: </span></p>
                <p><span class=""></span> <span class="title">Data de Aniversário: </span></p>
             </div>
        </div>
    </div>
    </div>
</div>
