<div class="container">
  <div class="col-md-12">
    <div class="profile clearfix">
      <div class="rounded-circle">
        <img src="http://amandapicoli.s3.amazonaws.com/sevenDev/capa7dev.png" class="capa">
      </div>
      <div class="user clearfix">
        <div class="avatar">
          <img src={{foto}} class= "rounded-circle" width="100" height="100">
        </div>
        <div id="userNome">
          <h2>{{usuario}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel-post">
  <div class="container">
    <div class="profile-info col-md-12">
      <div class="panel">
        <app-caixa-postagem></app-caixa-postagem>
      </div>
    </div>
  </div>
</div>
<div>
<app-minhas-postagens></app-minhas-postagens>
</div>
