<div class="container">
  <div class="col-md-12">
    <div class="profile clearfix">
      <div class="rounded-circle">
        <img src="http://amandapicoli.s3.amazonaws.com/sevenDev/capa7dev.png" class="capa">
      </div>
      <div class="user clearfix">
        <div class="avatar">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4D03AQGK4ZdRCVKiIA/profile-displayphoto-shrink_800_800/0/1590532068539?e=1619049600&v=beta&t=6VJDQaYzZdhd38XBRhbXXVKCr5jnZha6Di0KPDwv9UE"
            class= "rounded-circle" width="80" height="80" >
        </div>
        <h2>Gislane Nunes</h2>
      </div>
      <div class="info">
        <p><span class=""></span> <span class="title">Data de Nascimento: </span></p>
      </div>
    </div>
  </div>
</div>
<div class="panel-post">
  <div class="container">
    <div class="profile-info col-md-12">
      <div class="panel">
        <app-caixa-postagem></app-caixa-postagem>
      </div>
    </div>
  </div>
</div>
