<div class="login">
  <div class="container">
    <div class="login-wrap">
      <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Entrar</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
        <div class="login-form">
          <form [formGroup]="loginForm" class="needs-validation" novalidate (ngSubmit)="onSubmit()">
          <div class="sign-in-htm">
            <div class="group">
              <label for="user" class="label">Email:</label>
              <input id="user" type="text" class="input" formControlName="login">
            </div>
            <div class="group">
              <label for="pass" class="label">Senha:</label>
              <input id="pass" type="password" class="input" data-type="password" formControlName="password">
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" checked>
              <label for="check"><span class="icon"></span> Mantenha conectado </label>
            </div>
            <div class="group">
              <button class="btn btn-primary btn-lg" type="submit">Entrar</button>
            </div>
            <div class="">
              <p><button class="btn btn-outline-primary btn-lg" href="cadastro" role="button">Cadastrar</button></p>
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a href="#forgot">Esqueceu sua senha?</a>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
