.form {
  width: 100%;
  max-width: 330px;
  padding: 5px;
  padding-top: 90px;

  margin: 0 auto;
}
#logoLogin {
  border-radius: 5px;
  width: 95px;
  height: 92px;
  background-image: url(logoTeste.png);

}


