.main {
  background-image: url(devMulherHome.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main .titulo-destaque {
  color: rgb(255, 174, 0);
  margin-top: 10%;
}

.main .descricao {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #fff;
}

.container {
  margin-left: 20px;
}

.main .container {
  width:40%;
}

a{
  padding: 10px 25px;
	border-radius:25px;
}
